@charset "UTF8";

body {
    background-color: darkgrey;
}
header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
    margin: -10px;
    font-size: 2em;
}
header > p {
    font-size: 0.6em;
}