@charset "UTF-8";

/* Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* é p/ incluir a borda no calculo do tamanho */
}

body {
    background: black url(../imagens/back-phone.jpg); /*( background ) é aquela que agrupa várias possibilidades */
    background-size: cover; /* é p/ caber a tela inteira */
    background-position: center center; /* é p/ centralizar a tela inteira */
} 

html {
    height: 100vh;
    
}

main {
    background-color: rgba(255, 255, 255, 0.747);
    width: 400px; /* é p/ ficar 90% de largura */
    margin: auto; /* é p/ ficar centralizado */
    margin-top: 20px;
    border-radius: 10px; /* é p/ deixar as pontas arredondadas */
    padding: 10px; /* é p/ dar um espaço interno */
    
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em; /* é p/ o tamanho da letra do h1 */
}

img {
    display: block; /* toda imagem vai ter em bloco */
    margin: auto; /* toda imagem vai ser centralizado */
}

img#phone {display: block;} /* é p/ mostrar como bloco */
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}

